:root {
    --main-font: 'Playfair Display', serif;
    --secondary-font: 'Poppins', sans-serif;
    --background-color: #F9F7FE;
    --secondary-heading-color: #272142;
    --button-color: #6C63FF;
}

.hero {
    background-color: var(--background-color);
    text-align: center;
    padding: 160px 24px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: var(--main-font);
    font-size: 96px;
    font-weight: bold;
}

.hero h2 {
    font-family: var(--secondary-font);
    font-weight: normal;
    font-size: 24px;
    color: var(--secondary-heading-color);
    padding: 10px;
    margin: 24px;
}

.greetings {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-heading-color);
}

.btn {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: normal;
    background-color: var(--button-color);
    border-radius: 4px;
    margin: 25px;
    padding: 18px 46px;
}

.container h2 {
    color: black;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 64px;
    text-align: left;
    margin-top: 95px;
    margin-bottom: 55px;
}

.container p  {
    font-weight: normal;
    line-height: 1.7;
    text-align: left;
    opacity: 70%;
    line-height: 30px;
}

.header-second-page {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 18;
    font-weight: normal;
    margin-top: 125px;
    margin-bottom: 82px;
}

.container .btn {
    color: var(--button-color);
    margin-left: 0;
    background-color: white;
}


.container .col-md {
    margin: 30px 30px;
}


/*about-page*/

    .content-container {
        display: flex;
        justify-content: space-evenly;
        padding: 160px 24px;
        margin: 140px;
      }

      .about-info {
        width: 506px;
        text-align: left;
        margin-right: 94px;
      }

      .about-info h1 {
        font-size: 64px;
        text-align: left ; 
      }

      .about-info p {
        font-family: var(--secondary-font);
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;

      }

      .about-info h2 {
        font-family: var(--secondary-font);
        font-size: 18px;
        font-weight: bold;
        text-align: left;
      }

      .about-info .btn {
        margin-left: 0;
      }

      .about-photo {
        border-radius: 25px;
        box-shadow: 0px 5px 8px grey;
      }
    

      /*work page*/

.content-container h1 {
    text-align: left;
    font-size: 64px;
    width: 825px;
    margin-bottom: 103px;
    padding-left: 42px;

}

.content-container {
    display: block;  
    text-align: center;
}

.content-container h3 {
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
}

.content-container .work-description {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 14px;
    opacity: 70%;
    color: var(--secondary-heading-color);
}

nav {
    padding: 20px 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    line-height: 42px;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: var(--secondary-heading-color);
    opacity: 70%;
}

nav a:hover,
nav li.active a
 {
    color: var(--button-color);
}

.logo {
    max-height: 40px;
}

/*footer*/

footer {
    font-size: var(--secondary-font);
    text-align: center;
}

footer .btn {
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 500;
}

footer a {
    text-decoration: none;
}

footer .email-link {
    color: black;
    font-size: 24px;
    font-family: var(--secondary-font);
    font-weight: 500;
}

footer .email-link:hover {
    color: var(--button-color); 
}

footer .social-links a {
    margin: 0 10px; 
    color: var(--button-color);
    background-color: var(--background-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
}

footer .social-links {
    margin: 41px 60px; 
}

footer .social-links a:hover {
    color: white;
    background-color: var(--button-color);
    transition: all 150ms ease-in-out;
}

footer .call-to-action-box {
    background-color: var(--background-color);
    border-radius: 8px;
    margin: 198px 140px 78px 140px;
    padding: 49px 121px 42px 119px;
}

footer h4 {
    font-family: var(--main-font);
    font-size: 48px;
    font-weight: bold;
    text-align: left;
}

footer p {
    font-family: var(--secondary-font);
    opacity: 70%;
    color: var(--secondary-heading-color);
    text-align: left;
    font-size: 18px;
}



@media (max-width: 960px) {
    .hero {
        padding: 100px 16px;
    }

    h1 {
        font-size: 50px;
    }

    .header-second-page {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
      .container h2  {
            margin: 20px;
            text-align: center;
            font-size: 36px;
        }

        .container {
            text-align: center;
            display: inline;
        }

        .container p {
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
        }

        .about-info {
            text-align: center;
            margin-right: 0px;
        }

        .about-info h1 {
            text-align: center;
            font-size: 40px;
        }

        .about-info h2 {
            text-align: center;
        }

        .flex-container {
        justify-content: center;
        margin: 0px;
        padding: 0% 5% 5% 5%;
        }

        nav a {
            font-size: 14px;
        }

        footer .call-to-action-text {
            padding: 20px;
        }

        footer h4 {
            font-size: 30px;
        }

        footer p {
            font-size: 14px;
            margin-bottom: 0;
        }

        footer .call-to-action-box {
            margin: 20px;
            padding: 20px;
        }

        footer .btn {
            font-size: 14px;
            font-weight: 400;
            margin: 15px;
            padding: 8px 38px;
        }
}